<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    
    <script src="test.js"></script>

    <style>
        .counter-display {
            font-size: 20px;/* Adjust the font size as needed */
            display: inline-block;
            margin-left: 15px; /* Add some margin for better spacing */
        }
        #button2{
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <button id="button1"> Count</button>
    <span class="counter-display" id="counter1Display">0</span>
    <span class="counter-display" id="counter2Display" style="display:none">0</span>
</body>
</html>
